:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f9f9f9;
  --card-text: #000;
}

[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --card-bg: #333333;
  --card-text: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
